*{
    padding: 0px;
    margin: 0px;
    font-family: 'Alegreya Sans SC', sans-serif;

}

h4{
    font-family: 'Montaga', serif !important;
}

main, nav, article, aside, section, header, footer {
    display: block;
}

#mainWrapper{
    width: 1400px;
    margin: 0px auto;
   
}

#middleWrapper{
    margin: 0px auto;
    margin-left: 250px;
    width: 1000px;
    clear: right;
}

.list-group{
    width: 50%;
}

#logo{ 
    display: block;
    background-image: url(../images/newLogo.png);
    width: 164px;
    height: 130px;
    background-repeat: no-repeat;

}

.bckgorundNone{
    background-color: unset !important;
}

.clear{
    clear: both;
}

#logoWidth{
    float: left;
    position: relative;
    display: block;
    width: 164px;
}



#search{
    margin-top:60px;
    margin-left: 85px;  
    float: left;
    height: 40px;
    width: 250px;
    /* clear: left; */
}


#profile{
    position: relative;
    margin-top:10px;
    width: 78px;
    height: 104px;
    float: right;
    text-align: center;
}

#navBar{
    margin-top: 20px;
    width: 210px;
    height: 487px;
    float: left;
    clear: both;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #8c9298 !important;
}

#currPageTitle{
    display: block;
    position: absolute;
    float: left;
    width: 276px;
    height: 50px;
    font-size: 17pt;
    text-align: left;
}

.alert{
    border-radius: 0 1.25rem 1.25rem 0 !important;
}


.myTable{
    margin-top: 70px;
    position: relative;
    float: left;
    width: 923px;
}

#newUserTable{
    margin-top: 70px;
    position: relative;
    float: left;
    width: 923px;
    height: 355px;
}


.nav-link{
    width: 210px;
    margin-top:10px;
}

.nav-link img{
    float: right;
}

.icons{
    width:30px;
    height:30px;
}

.tableIcon{
    position: absolute;
    left: 0px;
}
th {
    border-top: none;
}

td:first-child, th:first-child {
    border-left: none;
}

#circle_table {
    border-collapse:separate;
    border:solid #dee2e6 1px !important;
    border-radius:6px;
    -moz-border-radius:6px;
}

#circle_table_another {
    border-collapse:separate;
    border:solid #dee2e6 1px !important;
    border-radius:6px;
    -moz-border-radius:6px;
}

.nameLink{
    color: #565656;
    font-weight: bold;
}

.nameLink:hover{
    text-decoration: none;
    color: #000000 ;
}

a:hover{
    text-decoration: none !important;
}

#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;   
}


#wishes{   
    background-color: gray;
    margin-left: 460px;
    margin-top: 40px;
    color: white;
    height: 40px;    
    width: max-content;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 60%;
    font-size: 23px;
}

#title_name{  
    background-color: teal;
    margin-left: 125px; 
    color: white;
    height: 40px;
    width: 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 60%;
    font-size: 23px;
    display: inline-table;
}

#title_subject{  
    background-color: teal;
    position: relative;
    float: right;
    color: white;
    height: 40px;
    width: 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 60%;
    font-size: 23px;
    margin-right: 80px;
   
}

.table{  
width: 100%;
border-top: none; 
}

.see_more{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.redDot{
    width: 14px;
    height: 14px;
    background: red;
    border-radius: 100%;
    margin-top: 5px;
}

.orangeDot{
    width: 14px;
    height: 14px;
    background: orange;
    border-radius: 100%;
    margin-top: 5px;
}

#wishesTable{
    margin-top: 70px;
    position: relative;
    float: left;
    width: 923px;
    height: 355px;
}

#move_word{
    float: right;
    margin-right: 80px;
}

.handleWish{
height: 501px;
}


.breadcrumb{
    margin-bottom: 0.3rem !important;
    width: max-content !important;
    border-radius: 0 0.85rem 0.85rem 0 !important ;
    margin-top: -1.8rem !important;
}

.notes{
    background-color: #d9edf7;
    width: 474px;
    height: fit-content;;
    margin-top:68px;
    border-radius: 0px 30px 30px 0px;
}

.notes span{
    margin-left: 25px;
}

.wishesTable td{
    text-align: center;
}

.progress{
    margin-top: 35px; 
}

.progress-bar{
    background-color:#32CD32 ;

}

.badge{
    font-size: 18px !important;
}

.badge-primary{
    background-color: #6c757d !important;
    color: #fff;
}

.badge-secondary{
    background-color: #ffcc80 !important;
    margin: 0 50%;
}

.badge-success{
    margin-top: 5px;
    float:right;
}

.themeBadge{
    position: relative;
 opacity: 0.4;
 width:250px !important;
 height: 180px !important;  
 padding: 55px !important;
}

.themeBadge:hover{
    opacity: 0.6;
}

.themeBadge img{
    margin-left: -95px !important;
    position: absolute;
    width: 227px;
    height: 129px;
    margin-top: -30px !important;
    right: 10px;
}


a:hover{
    font-weight: bold;
}


.chooseMeal{
    width: 291px;
    height: 268px;
    margin-top: 75px;
    float: left;
    position: relative;
    display: block;
}



#mealSumBadge{
    display: block !important;
    position: relative !important;
}

.mealSumTalbe{
    width: 291px;
    height: 268px;
    margin-top: 20px;
    float: left;
    position: relative;
    display: block;
}

#dailyMealSumBadge{
    display: block;
    position: relative;
}

.dailyMealSumTalbe{
    width: 291px;
    height: 268px;
    bottom: 130px;
    float: left;
    position: relative;
    display: block;
}

.mealTable{
    width: 450px;
    height: 775px;
    margin-top: 75px;
    float: right;
    position: relative;
    display: block;
    top: 0px;
}

.done-btn{
    display: block !important;
    position: relative ;
    float: right;
    bottom:195px;
    height: 60px;
    width: 143px;
    font-size: 1.5rem !important;

}


#falseButton{
    margin-top: 5px;    
    float: left;
}

.btn-primary{
    background-color: #62c462 !important;
    border-color: #62c462 !important;
}

#colorButton{
    margin-top: 5px;
    float: right;
}

.searchIcon{
    height: 20px;
}

input.form-control {
    text-align: center;
  }

  .addIcon{
      margin: 5px;
      float: left;
      height: 15px;
      width: 15px;
  }
  th{
      text-align: center !important;
      font-size: 1.1rem !important;
  }

  .remove_top_border_th{
    border: none !important;
}


.nav-tabs{
    border-bottom: unset !important;
}

  .chooseMealRow{
    margin-top: 10px;
    height: 90px !important;
    text-align: center;
    
  }

  .chooseMealActive{
    background-color: lightgray !important; 
  }

  .btn-outline-secondary{
      width: 265px;
      border: 0px !important;
      color: black !important;
  }


  button:active {
    border: 2px solid green;
}

.Wishes_title{
    margin-left: 360px;
    height: 40px;
    width: 100px;
    font-size: 100%;
    text-align: center;
    padding-top: 10px;
    border-bottom: none;
}

#name_left{
    margin-left: 20px
 }


.table thead th{
    border-bottom:none !important;
}

.table th{
    width: 80px;
}


#center{
    text-align: center;
    background: gray;
    border: 1px solid black;
}



.usersTable{
    border: 1px solid black !important;
    border-collapse: collapse;
    border-radius: 1.5em;
    overflow: hidden;
}

.goalBadge{
    margin-top: 100px;
}

.searchBtn{
    border-color: #343a40 !important;
}

.dietWorkoutCalendar{
    margin-top: 80px;
}



/* Media Querys */

@media only screen and (max-width:480px){
    #mainWrapper{
        width: 100%;
        margin: 0px auto;
    }

.nav{
    flex-wrap: unset !important;
    width: 100%;
}

.nav-link{
    margin-left: 4px;
    padding: .1rem 0.5rem !important;
}

.nav-link img{
    float: left;
    margin-top: 0px;
}

.alert-primary{
    position: relative !important;
    width: 100% !important;
    top: 85px;
}

#navBar{
    height: 0px !important;
    padding-left: 10px;
}
#currPageTitle{
    top: 1px;
    margin-bottom: 30px !important;
}

#search{
    margin-top: 0px;
    margin-left: 0px;
    width: 100% !important;
}

.notes{
    float: left;
    width: 100%;
    height: fit-content;
}

.breadcrumb{
    display: block !important;
    margin-top: 122px !important;
    float: left !important;
    width: 100% !important;
}

.Wishes_title{
    width: 100% !important;
    margin-left: 0px !important;
}

#wishesTable{
    width: 100% !important;
}
.nav-link span{
    display: block;
    height: 71px;
    width: 100% !important;
}

.breadcrumb-item{
    float: left;
}

#newUserTable{
    width: 100% !important;
}

.nav-tabs{
    border-bottom: 0px !important;
}

    #middleWrapper{
        margin: 0px auto;
        margin-left: 0px;
        width: 100%;
    } 

    .myTable{
        width: 100%;
    }

    .badge-secondary{
        margin: 0px 40% !important;
    }

    .themeBadge{
        margin: 10px;
        width: 100% !important;
    }

    .themeBadge img{
        right: unset;
    }

    .mealTable{
        width: 100%;
        height: unset;
    }

    .chooseMeal{
        width: 100%;
    }

    .btn-outline-secondary{
        width: 100%;
    }


    #mealSumBadge{
        position: relative !important;
        margin-top: unset !important;
        left: unset !important;
        right: unset !important;
    }

    .dailyMealSumTalbe{
        width: 100% !important;
        margin-top: 100px !important;
        position: unset !important;
    }

    .mealSumTalbe{
        width: 100% !important;
    }

    .done-btn{
        bottom: unset !important;
        margin-top: 50px !important;
    }

    /* workout page */
 
}

/* on tablet its still looks good */
@media only screen and (min-width:481px) and (max-width:768px){

}

@media only screen and (min-width:769px)
{

}

/* /Media Querys */