*{
    padding: 0px;
    margin: 0px;
    font-family: 'Alegreya Sans SC', sans-serif;

}

main, nav, article, aside, section, header, footer {
    display: block;
}

#mainWrapper{
    width: 1400px;
    margin: 0px auto;
}

#logo{ 
    display: block;
    background-image: url(../images/newLogo.png);
    width: 164px;
    height: 130px;
    background-repeat: no-repeat;
}



/* Media Querys */
@media only screen and (max-width:480px) { /*  small smartphone   */
     
  
    #mainWrapper{
        width: 100%;
        margin: 0px auto;
    }
    .hey-user-name{
        width: fit-content;
        top: 10px;
    }
        /* workout page */
    .back-img{
         float: left;
         width: 40px;
          height: 40px;
          margin-top: 20px;
         margin-left: 10px;
    }
    .btn-secondary {
        color: black !important; 
        background-color: white !important; 
        border-color: #6c757d;
    }
    .type-of-exercise{
        margin-top: 20px;
        float: left;
        width: 50%;
        display: flex;
        align-items: center;
        margin-left: 68px;
    }
    .width{
        margin-top: 40px;
        float: left;
        width: 50%;
        height: 10em;
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    .left{
        margin-top: 60px; 
        float: left;
        width: 100px;
          
    }
    .black-dot{
        position: relative;
        float: left;
        border-radius: 100%;
        margin-top: 100px;
        margin-left: 10px;
    }
    .clear{
        clear: both;
    }
    #special-footer{
        background-color: gainsboro;
        width: 100%;
        height: 90px;
    }

    .footer-img{ 
        position: relative;
        float: left;
        width: 3.4em;
        height: 3.4em;
        margin-top: 18px !important;
        margin-left: 25px;
        margin: 8% 4% 0% 4%;
    } 
 }

@media only screen and (min-width:768px)  /* for tablet  */
{
    .back-img{
        float: left;
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: 10px;
    }
    #mainWrapper{
        width: 100%;
        margin: 0px auto;
    }
    .hey-user-name{
        width: fit-content;
        top: 10px;
    }
        /* workout page */
    .btn-secondary {
        color: black !important; 
        background-color: white !important; 
        border-color: #6c757d;
    }
    .type-of-exercise{
        margin-top: 20px;
        float: left;
        width: 50%;
        display: flex;
        align-items: center;
        margin-left: 68px;
    }
    .width{
        margin-top: 40px;
        float: left;
        width: 50%;
        height: 10em;
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    .left{
        margin-top: 60px; 
        float: left;
        width: 100px;
        height: 100px;
       
    }
    .black-dot{
        position: relative;
        float: left;
        border-radius: 100%;
        margin-top: 100px;
        margin-left: 10px;
    }
    .clear{
        clear: both;
    }
    #special-footer{
        background-color: gainsboro;
        width: 100%;
        height: 90px;
    }

    .footer-img{ 
        position: relative;
        float: left;
        width: 3.4em;
        height: 3.4em;
        margin-top: 18px !important;
        margin-left: 25px;
        margin: 8% 4% 0% 4%;
    } 

}

/* /Media Querys */

/* ניסוי */

